SECRET_KEY=replace-with-a-long-random-secret-key
VECO_FEED_URL=**************
VECO_CALENDAR_DATA_URL=*****************
VECO_CALENDAR_PAGE_URL=*****************************
CORS_ALLOWED_ORIGINS=******************************
